@inject HttpClient Client
@inject ProtectedLocalStorage localStorage;
@inject NavigationManager navigation;
@page "/"

@using Chess.Frontend.CustomElements
@using Chess.Frontend.Dto
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.Net.Http.Headers
@using System.Text
@using System.Text.Json
@using Microsoft.AspNetCore.SignalR.Client

<div class= "wrapper" style="height:255%">
    <a href="/users" style="color:var(--text-color); text-align:right; width:95%;">All users</a>

    <p>Recent matches</p>
    @if(matches != null && matches.Length != 0)
    {
        @foreach (UserMatch match in matches.Take(5))
        {
            <MatchCard Match="@match"/>
        }
        @if(matches.Length > 5)
        {
            <p>And @(matches.Length - 5) more</p>
            <p>Click <a href="@($"/user/{userId}")">here</a> to see all the matches.</p>
        }
    }
    else
    {
        <p>You don't participate in any matches</p>
    }

    <hr/>

    <dvi class="create-wrapper">
        <input class="button" type="button" value="Create new match" @onclick="CreateMatch" />
        <input class="color-selection-button" 
            style="background-color: @GetButtonColor(); color: @GetBorderColor(); border: solid 3px @GetBorderColor();"
            value="@GetButtonText()" @onclick="ChangeColor" type="button" />
    </dvi>
    

    @if (refreshTokenExpired)
    {
        <p style="color:red">Refresh Token Was Expired. You need to re-login <a href="/login">here</a>.</p>
    }
    else if (unknownError)
    {
        <p style="color:red">Unknown error</p>
    }

    <h4>OR</h4>
    <div class="connect-wrapper">
        <input class="id-box" type="text" placeholder="Enter Match Id" @oninput="e => matchIdConnect = e.Value.ToString()" />
        <input class="connect-button" type="button" value="Connect" @onclick="ConnectToMatch" />
    </div>
</div>

@code {
    private string? accessToken;
    private bool IsRegister { get { return accessToken == null; } }
    private bool unknownError = false;
    private bool refreshTokenExpired = false;

    private char color = 'w';
    private string? matchIdConnect = null;
    private Guid userId;
    private UserMatch[]? matches { get; set; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var accessTokenObj = await localStorage.GetAsync<string>("accessToken");
            accessToken = accessTokenObj.Value;
            var userIdObj = await localStorage.GetAsync<Guid>("userId");
            userId = userIdObj.Value;
            await GetMatches();
        }
    }


    private async void ChangeColor()
    {
        if (color == 'w') color = 'b';
        else color = 'w';
    }

    private async Task GetMatches()
    {
        using var request = new HttpRequestMessage(HttpMethod.Get, $"users/{userId}/matches");

        var response = Client.Send(request);
        if (response.IsSuccessStatusCode)
        {
            string matchesJson = await response.Content.ReadAsStringAsync();
            matches = JsonSerializer.Deserialize<UserMatch[]>(matchesJson);
            unknownError = matches == null;
        }
        else
        {
            unknownError = true;
        }
        await InvokeAsync(StateHasChanged);
    }

    private async void CreateMatch()
    {
        using var request = new HttpRequestMessage(HttpMethod.Post, $"match/host/{color}");
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", accessToken);

        var response = Client.Send(request);
        if (response.IsSuccessStatusCode)
        {
            string responseContent = await response.Content.ReadAsStringAsync();
            Guid? matchId = JsonSerializer.Deserialize<Guid>(responseContent);
            navigation.NavigateTo($"/game/{matchId}");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            bool successfulRefresh = await RefreshAccessToken();
            if (successfulRefresh)
            {
                CreateMatch();
            }

            refreshTokenExpired = !successfulRefresh;
            StateHasChanged();
        }
        else
        {
            unknownError = true;
        }
    }

    private async Task ConnectToMatch()
    {
        if (matchIdConnect == null) return;
        Guid matchId;
        if (!Guid.TryParse(matchIdConnect, out matchId)) return;

        using var request = new HttpRequestMessage(HttpMethod.Post, $"match/connect/{matchIdConnect}");
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", accessToken);

        var response = Client.Send(request);
        if (response.IsSuccessStatusCode)
        {
            navigation.NavigateTo($"/game/{matchId}");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            bool successfulRefresh = await RefreshAccessToken();
            if (successfulRefresh)
            {
                CreateMatch();
            }

            refreshTokenExpired = !successfulRefresh;
            StateHasChanged();
        }
        else
        {
            unknownError = true;
        }
    }

    private async Task<bool> RefreshAccessToken()
    {
        var userId = await localStorage.GetAsync<string>("userId");
        var refreshToken = await localStorage.GetAsync<string>("refreshToken");

        string body = "{\"userId\":\"" + userId.Value + "\",\"refreshToken\":\"" + refreshToken.Value + "\"}";

        using var request = new HttpRequestMessage(HttpMethod.Post, "/auth/refresh");
        var content = new System.Net.Http.StringContent(body, Encoding.UTF8, "application/json");
        request.Content = content;

        var response = Client.Send(request);
        string responseContent = await response.Content.ReadAsStringAsync();
        if (response.IsSuccessStatusCode)
        {
            RegisterResponse? registerResponse = JsonSerializer.Deserialize<RegisterResponse>(responseContent);
            await localStorage.SetAsync("accessToken", $"{registerResponse.accessToken}");
            await localStorage.SetAsync("refreshToken", $"{registerResponse.refreshToken}");
            await localStorage.SetAsync("userId", $"{registerResponse.userId}");

            accessToken = registerResponse.accessToken;
        }

        return response.IsSuccessStatusCode;
    }

    private string GetButtonColor()
    {
        if (color == 'w') return "white";
        else return "black";
    }

    private string GetBorderColor()
    {
        if (color != 'w') return "white";
        else return "black";
    }

    private string GetButtonText()
    {
        if (color == 'w') return "White";
        else return "Black";
    }
}